<%- include('./partials/Header.ejs') %> 
<div class="title-category">
    <h3>Pick a category</h3>
</div>
<div class="catagories">
    
    <div class="category-list">
        <ul class="name-container">
            <% category.forEach(names => { %> 
        
            
                <li id="name-list">     <%= names.name %> </li>
           
            <% }) %> 
        </ul>
        
    </div>
    
    
</div>


