<%- include('./partials/Header.ejs') %> 
<a href="/catagories"><i class="fa-solid fa-circle-left"></i>
<div class="genre-title">
     </a> <h3><%= genreName %> </h3>

</div>
<div class="games-list">
            <% games.forEach(gameData => { %> 
                    <div class="name-div">
                        <%= gameData.name %>
                    </div>
                    <div class="img-div"> <img src=<%= gameData.cover ? gameData.cover.url : '#' %> height="200" width="300" alt="Game Cover" /></div>
                    <div>
                        <button  id="my-btn">Add to library</button>
                    </div>
                <% }) %> 
    
</div>

<script>var button = document.getElementById('my-btn');
    button.addEventListener('click', () => {
        alert('not working yet')
    })  </script>