<%- include('./partials/Header.ejs') %> 
<div class="home-page">
    <h1>Home page </h1>

    <!-- <a href="/trending" id="list">Just released Games</a>
    <a href="/trending" id="list">90s Games</a> -->
    <a href="/trending" id="list">Trending Games</a> 
    <a href="/catagories" id="list">Game Catagories</a>   
    <a href="/library" id="list">Game Library</a>
    
</div>

