<%- include('./partials/Header.ejs') %> 
<div class="games-list">
    Puzzle Games
    <ul>
       
        <% games.forEach(gameData => { %> 
            <li>
               
                <%= gameData.name %>
                <%= gameData.genres %>  
            </li>
            
            <% }) %> 
    </ul>
   
</div>