@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Press+Start+2P&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D0B33;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239894DD'/%3E%3Cstop offset='1' stop-color='%230D0B33'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23A9ACFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23A9ACFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    font-family: 'Press Start 2P', cursive;


}

.home-page {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.title-category {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    color: white;
}

.catagories {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.category-list {
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#name-list {
    text-decoration: none;
}

#list {
    text-decoration: none;
    color: white;
    margin-top: 60px;
   
    
}

#list:hover {
    font-size: 30px;
}

.head-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: auto;
    padding: 20px 40px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.6);
}

.title-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    color: blue;
}

#home-link {
    text-decoration: none;
    color: blue;
}

.nav-container{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.games-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: white;
}


.genre-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: white;
    text-decoration: underline;
}

.fa-circle-left {
    justify-content: flex-start;
    color: white;
    margin-top: 40px;
    font-size: 40px;
    
}